.jumbotron {
    background-image: url("./thecheese.jpg");
    background-size: cover;
    height: 100vh;
}

.navbar {
    margin-bottom: 0;
}

.row-thin {
    padding: 0;
    margin: 0;
}

.top-spaced {
    margin-top: 120px;
}

body.landing {
    overflow-y: hidden;
}

.flex-column{
    flex-direction:column;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-item{
    flex-grow: 1;
}

.media {
    overflow: visible ;
}